<div class="displayContainer">
<div style="padding-top: 10%; margin-left: auto; margin-right: auto; width: 70%;">
<div id="optin-canvas">
<div style="width: 650px; height: 700px;">


<!-- start of device here -->
<style type="text/css">
	#om-canvas-whiteboard-optin {
		height: 640px !important;
	}
</style>
		<div class="mmpu-container">
			<div class="mmpu-content">
				<div class="mmpu-report-image">
					<img id="templateCover" src="http://moneymorning.com.au/images/mm-aussie-lower-rates-cover.png" alt="Money Morning free report cover" width="250" height="310" />
				</div>				
				<div class="mmpu-content-text">
					<font style="font-size:25px;">
						<div id="templateByline">DOWNLOAD YOUR <strong>FREE</strong> REPORT:</div>
					</font>
					<br />				
					<div style="font-size:41px; margin-top:10px; font-weight:900; line-height:45px;">
						<div id="templateHeading">&lsquo;What Lower Interest Rates Mean for Aussie Stocks in 2014&rsquo;</div>
					</div>					
					<font style="font-size:21px; line-height: 22px;">
						<br />
						<div id="templatePara1">Lower interest rates are good news for people with a mortgage, and bad news for savers with cash in the bank. But what does it mean for Aussie stocks? And how can you use it to your advantage? You&rsquo;ll find the answer in this free report.</div>
					</font>					
				</div>				
				<div class="mmpu-content-text-bottom">
					<div id="templatePara2">To download your copy right now &mdash; and get a free subscription to the daily financial email <em>Money Morning</em> &mdash; simply enter your email address in the box below and click &lsquo;Subscribe now&rsquo;</div>
					<br /><br />
					<form action="http://signup.moneymorning.com.au/Content/SaveFreeSignups" id="LeadGen" method="post">
						<input name="source" style="display: none;" type="hidden" value="XMONQ605" /> 
						<input name="list" style="display: none;" type="hidden" value="moneymor" /> 
						<input name="adTopic" style="display: none;" type="hidden" value="looptirement" /> 
						<input name="NotSaveSignup" style="display: none;" type="hidden" value="False" />						
						<div align="left">
							<div style="display:inline-block; vertical-align:middle;">
								<table cellpadding="5" cellspacing="0" style="border:none;">
									<tbody>
										<tr style="border:none">
											<td style="border:none;">
												<input class="field" id="email" name="email" onblur="javascript:if (this.value == '') this.value = 'Email:';" onfocus="javascript:if (this.value == 'Email:') this.value = '';" type="text" value="Email:" />
											</td>
										</tr>
									</tbody>
								</table>
							</div>							
							<div style="display:inline-block; vertical-align:middle;">
								<input class="button" type="submit" value="SUBSCRIBE NOW >" />
							</div>
						</div>
					</form>
				</div>				
			</div>
		</div>
<!-- end device -->


</div>	
</div>	
</div>
</div>